@model IEnumerable<Sommelier.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h2>What are you having for dinner this evening?</h2>

@foreach (var item in Model)
{
        <div>
            <a asp-action="Details" asp-route-id="@item.FoodId">
                @Html.DisplayFor(modelItem => item.Name)
            </a>
        </div>
}
