@model IEnumerable<Sommelier.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h3>What are you cooking for dinner?</h3>

@foreach (var item in Model)
{
    <a asp-action="Details" asp-route-id="@item.FoodId">
        <div>
            <p>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
        </div>
    </a>
}

