@model IEnumerable<Sommelier.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<a class="waves-effect waves-light btn-small back-button" href='javascript:history.go(-1)'><i class="material-icons left">keyboard_backspace</i>Back</a>

<h2>What are you having for dinner this evening?</h2>

@foreach (var item in Model)
{
        <div>
            <a asp-action="Details" asp-route-id="@item.FoodId">
                @Html.DisplayFor(modelItem => item.Name)
            </a>
        </div>
}
