@model Sommelier.Models.ViewModels.CreateWineViewModel

@{
    ViewData["Title"] = "Create";
}


<a class="waves-effect btn-small back-button" href='javascript:history.go(-1)'><i class="material-icons left">keyboard_backspace</i>Back</a>


<h3>Add A New Wine</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWinery">
            <div asp-validation-summary="ModelOnly" ></div>
            <div class="input-field">
                <input id="new_winery" asp-for="Winery.Name" class="form-control" />
                <label for="new_winery">Add a new winery</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
        <form asp-action="Create" class="input-field">
            <div class="form-group">
                <select asp-for="Wine.WineryId" class="form-control" asp-items="@Model.Wineries"></select>
                <span asp-validation-for="Wine.WineryId" class="text-danger"></span>
            </div>
            <div class="form-group input-field">
                <label for="wine_name" asp-for="Wine.Name" class="control-label">Wine Name (if applicable)</label>
                <input id="wine_name" asp-for="Wine.Name" class="form-control" />
                <span asp-validation-for="Wine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Wine.VarietyId" class="form-control" asp-items="@Model.Varieties"></select>
                <span asp-validation-for="Wine.VarietyId" class="text-danger"></span>
            </div>
            <div class="form-group input-field">
                <label for="wine_year" asp-for="Wine.Year" class="control-label"></label>
                <input id="wine_year" asp-for="Wine.Year" class="form-control" />
                <span asp-validation-for="Wine.Year" class="text-danger"></span>
            </div>
            <div class="form-group input-field">
                <label for="wine_quantity" asp-for="Wine.Quantity" class="control-label"></label>
                <input id="wine_quantity" asp-for="Wine.Quantity" class="form-control" />
                <span asp-validation-for="Wine.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <input type="submit" value="Create" class="col s12 btn btn-default green lighten-1" />
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}