@model Sommelier.Models.Wine

@{
    ViewData["Title"] = "RemoveBottleConfirm";
}

<h2>You've selected a @Model.Winery.Name @Model.Variety.Name from @Model.Year</h2>

<p>Would you like me to remove a bottle from your cellar?</p>
<div>
    <form asp-action="RemoveBottle" asp-route-id="@Model.WineId" class="row">
        <input type="hidden" asp-for="WineId" />
        <input type="submit" value="Yes" class="col s3 offset-s2 waves-effect  waves-light btn green lighten-1 remove-bottle-confirm" />
        <a  class="btn col s3 offset-s2" href='javascript:history.go(-1)'>No</a>
    </form>
</div>
