body {
    --wine-color: #7B2441;
    margin-bottom: 60px
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

/*
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

*/

.back-button {
margin: 1em 0 0 0 !important
}

/*Navbar*/
.navbar {
    background-color: var(--wine-color);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Login*/
.login-wrapper {
    background-color: var(--wine-color);
    width: 100vw;
    height: 100vh
}

.login-logo {
    margin-top: .5em
}

/*Home*/
.home-buttons a {
    margin: 1.5em 0
}

/*Wine Details*/
.wine_bottle_glass {
    height: 250px;
}

.wine_detail_header {
    margin-top: 2em;
}

.wine-detail-food {
    background-color: var(--wine-color);
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-bottom: .5em !important
}

