@model ApplicationUser

@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h3 class="center-align">Cheers @Model.FirstName, welcome to Sommelier</h3>
    <div class="row home-buttons">
            <a class="col s12 waves-effect waves-light btn-large" asp-controller="Wines" asp-action="Index">My Cellar</a>
        
            <a class="col s12 waves-effect waves-light btn-large" asp-controller="Foods" asp-action="Index">Recommendations</a>

            <a class="col s12 waves-effect waves-light btn-large" asp-controller="Wines" asp-action="Create">Add Wine</a>
    </div>
</div>