@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <a class="btn btn-primary btn-lg btn-block" asp-controller="Wines" asp-action="Index">My Cellar</a>
    </div>

    <div>
        <a class="btn btn-primary btn-lg btn-block" asp-controller="Foods" asp-action="Index">Recommendations</a>
    </div>

    <div>
        <a class="btn btn-primary btn-lg btn-block" asp-controller="Wines" asp-action="Create">Add Wine</a>
    </div>
</div>